<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="userService" class="com.zgw.blog.service.impl.UserServiceImpl"/>
    <bean id="articleService" class="com.zgw.blog.service.impl.ArticleServiceImpl"/>
   <bean id="categoryService" class="com.zgw.blog.service.impl.CategoryServiceImpl"/>
    <bean id="tagService" class="com.zgw.blog.service.impl.TagServiceImpl"/>
    <bean id="pageService" class="com.zgw.blog.service.impl.PageServiceImpl"/>
    <bean id="linkService" class="com.zgw.blog.service.impl.LinkServiceImpl"/>
    <bean id="noticeService" class="com.zgw.blog.service.impl.NoticeServiceImpl"/>
    <bean id="commentService" class="com.zgw.blog.service.impl.CommentServiceImpl"/>
    <bean id="functions" class="com.zgw.blog.util.Functions"/>
    <bean id="menuService" class="com.zgw.blog.service.impl.MenuServiceImpl"/>
    <bean id="optionService" class="com.zgw.blog.service.impl.OptionsServiceImpl"/>
    <bean id="redisUtil" class="com.zgw.blog.util.RedisUtil"/>
</beans>